[submodule "notebooks/78_jssp/jsplib"]
	path = notebooks/78_jssp/jsplib
	url = https://github.com/tamy0612/JSPLIB.git
[submodule "notebooks/78_jssp/kobe-scheduling"]
	path = notebooks/78_jssp/kobe-scheduling
	url = https://github.com/ptal/kobe-scheduling.git
